body {
  background: #f6f6f6;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#app {
  padding: 30px;
}

button {
  background: #0088cc;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #006fa3;
}
